<div class="panel panel-default col-md-4 {{ productItem }} ">
  <mat-card class="product-item">
    <mat-card-header>
      <mat-card-title>
          <div #nameId>
              {{ productItem.productName }}
            </div>
      </mat-card-title>
    </mat-card-header>
  <mat-card-content>

  <br>
  price:
    {{ productItem.price | currency }}
  <br>
  product Type:
  {{ productItem.productType }}
  <br>
  <button type="button" (click)="delete(productItem)"> Delete</button>
  <br>
  <button type="button" (click)="edit(productItem)"> Edit</button>

</mat-card-content>
</mat-card>
<mat-divider></mat-divider>
</div>